:root {
  --bg-color: #14120B;
  --button-color: #edecec;
  --button-color-hover: #edececdb;
  --card-link: #F54E00;
  --card-link-hover: #f54e00cd;
  --footer-bg-color: #1b1913;
  --sign-in-btn-bg-color: #14130f; 
  --card-bg-hover: #1b1913;
  --footer-button-bg-color: #26241e;
  --recent-highlights: #28251e;
  --recent-highlights-hover: #26241E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-color);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.325px;
}

/* header */
header {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  width: 1520.8px;
  height: 52px;
  position: sticky;
  top: 0%;
}

nav {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  height: 52px;
}

nav div#logo {
  color: var(--button-color);
  cursor: pointer;
}

#nav-links a {
  border: none;
  text-decoration: none;
  color: var(--button-color);
  padding: 5.6px 15px;
  font-size: 14px;
}

#nav-links a:hover {
  color: var(--button-color-hover);
  cursor: pointer;
}

#primary-cta {
  display: flex;
  gap: 10px;
}

#sign-in {
  box-shadow: unset;
  color: var(--button-color);
  background-color: var(--sign-in-btn-bg-color);
  padding: 5.6px 10.5px 5.88px;
  border: 0.1px solid #edecec51;
  border-radius: 18px;
  text-align: center;
  font-size: 14px;
}

#sign-in:hover {
  background-color: var(--footer-bg-color);
  cursor: pointer;
}

#download {
  border: none;
  background-color: var(--button-color);
  color: var(--bg-color);
  padding: 5.6px 10.5px 5.88px;
  border-radius: 18px;
  font-size: 14px;
}

#download:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
}

/* main hero-section */
.hero-section {
  padding: 112px 20px 67.2px;
}

.hero-section-container {
  width: 1300px;
  margin: 0px 90.4px;
}

#main-headline {
  margin-bottom: 20px;
}

#main-headline h2 {
  color: var(--button-color);
  font-weight: 380;
  font-size: 26px;
}

#CTA button {
  background-color: var(--button-color);
  border: none;
  padding: 12.48px 21.6px 12.8px;
  font-size: 16px;
  border-radius: 30px;
}

#CTA button:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
}

#product-image img {
  border-radius: 5px;
  width: 1300px;
  height: 680px;
}

/* main trusted-by-section */
.trusted-by {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 33.6px;
}

.trusted-by-container {
  margin: 0px 90.4px;
}

#trusted-by-text {
  text-align: center;
  color: var(--button-color);
  font-size: 14px;
  margin-bottom: 22.4px;
}

.company-logos {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  width: 1300px;
  height: 100px;
}

.company-logos img {
  width: 61px;
  height: 40px;
}

.company-logos-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-bg-color);
  width: 139px;
  height: 100px;
  padding: 0px 7px;
  border-radius: 5px;
}

/* main feature-section */
.feature-sections {
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding: 67.2px 20px;
}

.feature-card {
  background-color: var(--footer-bg-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 1300px;
  height: 715px;
  border-radius: 5px;
  margin: 0px 90.4px;
  padding: 17.5px;
}

.feature-card:hover {
  background-color: #1e1c16;
  cursor: pointer;
}

.feature-card-alternate {
  background-color: var(--footer-bg-color);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 1300px;
  height: 715px;
  border-radius: 5px;
  margin: 0px 90.4px;
  padding: 17.5px;
}

.feature-card-alternate:hover {
  background-color: #1e1c16;
  cursor: pointer;
}

.feature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}

.feature-content-alternate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.feature-content h3,
.feature-content-alternate h3
{
  color: var(--button-color);
  font-size: 22px;
  font-weight: 400;
}

.feature-content p,
.feature-content-alternate p
{
  font-size: 22px;
  font-weight: 400;
  color: #edecec9a;
}

.feature-content a,
.feature-content-alternate a
{
  text-decoration: none;
  color: var(--card-link);
}

.feature-content a:hover,
.feature-content-alternate a:hover
{
  color: var(--card-link-hover);
  cursor: pointer;
}

.feature-image img {
  width: 840px;
  height: 680px;
  border-radius: 5px;
}

/* main testimonials-section */
.testimonials {
  padding: 67.2px 20px;
  margin: 0px 90.4px;
}

.testimonials-heading h2 {
  color: var(--button-color);
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

.testimonials-container {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 1300px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--footer-bg-color);
  padding: 17.5px;
  border-radius: 5px;
}

.testimonial-card>p {
  color: var(--button-color);
  line-height: 24px;
}

.testimonial-by-person {
  margin-top: 44.8px;
  display: flex;
  gap: 10px;
}

.testimonial-by-person img {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.person-info p {
  color: #edecec9a;
  font-size: 14px;
  line-height: 24px;
}

.person-info h4 {
  font-weight: 400;
  color: var(--button-color);
  font-size: 14px;
}

/* main use-cases-section */
.use-cases {
  padding: 67.2px 20px;
  margin: 0px 90.4px;
}

.use-cases-container {
  margin-top: 44.8px;
}

.use-cases-heading h2 {
  color: var(--button-color);
  font-size: 26px;
  font-weight: 400;
}

.use-cases-cards-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.use-cases-cards {
  background-color: var(--footer-bg-color);
  border-radius: 5px;
  padding: 17.5px;
  line-height: 24px;
}

.use-cases-cards img {
  width: 100%;
  height: 391.663px;
  padding-top: 17.5px;
}

.use-cases-card-text h4 {
  color: var(--button-color);
  font-size: 16px;
  font-weight: 400;
}

.use-cases-card-text p {
  color: #edecec9a;
}

.use-cases-card-link {
  padding-top: 15px;
}

.use-cases-card-link a {
  color: var(--card-link);
  text-decoration: none;
}

.use-cases-card-link a:hover {
  color: var(--card-link-hover);
  cursor: pointer;
}

/* main changelog-section */
.changelog {
  padding: 67.2px 20px;
}

.changelog-container {
  margin: 0px 90.4px;
}

.changelog-heading h2 {
  font-size: 26px;
  font-weight: 400;
  color: var(--button-color);
  margin-bottom: 22.4px;
}

.update {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border: none;
}

div.button {
  border: none;
  background-color: var(--footer-bg-color);
  padding: 17.5px;
  border-radius: 5px;
}

.changelog-link {
  margin-top: 22.4px;
}

.changelog-link a {
  text-decoration: none;
  color: var(--card-link);
}

.changelog-link a:hover {
  color: var(--card-link-hover);
  cursor: pointer;
}

.changelog-button-text-container p {
  margin-top: 13px;
  color: var(--button-color);
  line-height: 24px;
}

.special-log :last-child {
  color: #edecec9a;
}

.special-log {
  display: flex;
  gap: 10px;
  align-items: center;
}

div.button:hover {
  background-color: #1e1c16;
  cursor: pointer;
}

.border-span {
  font-size: 14px;
  color: #edecec9a;
  border: 0.5px solid var(--button-color);
  padding: 4px 9px;
  border-radius: 15px;
}

/* main about-section */
.about {
  padding: 67.2px 20px;
}

.about-container {
  padding: 17.5px;
  background-color: var(--footer-bg-color);
  border-radius: 5px;
  width: 1300px;
  margin: 0px 90.4px;
  display: flex;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-text h2 {
  font-size: 22px;
  font-weight: 400;
  color: var(--button-color);
}

.about-text a {
  text-decoration: none;
  color: var(--card-link);
}

.about-text a:hover {
  color: var(--card-link-hover);
  cursor: pointer;
}

.about-image img {
  width: 840px;
  border-radius: 5px;
}

/* aside highlights-section */
.highlights {
  background-color: var(--card-bg-hover);
  margin-top: 67.2px;
  padding: 89.6px 20px;
}

.highlights-container {
  margin: 0px 90.4px;
  display: flex;
  border-radius: 5px;
  line-height: 24px;
}

.highlight-card-container {
  display: grid;
  grid-template-rows: 3 repeat(1, 1fr);
  gap: 10px;
}

#highlight-text {
  width: 325px;
}

#highlight-text h2 {
  font-size: 16px;
  font-weight: 550;
  color: var(--button-color);
}

.highlight-card {
  background-color: var(--recent-highlights);
  padding: 15px;
}

.highlight-card:hover {
  background-color: var(--recent-highlights-hover);
}

.highlight-card h3 {
  font-size: 16px;
  font-weight: 400;
  color: var(--button-color);
}

.highlight-card p {
  font-weight: 400;
  color: #edecec9a;
}

.highlight-link {
  margin-top: 22.4px;
}

.highlight-link a {
  text-decoration: none;
  color: var(--card-link);
}

.highlight-link a:hover {
  color: var(--card-link-hover);
  cursor: pointer;
}

/* final cta-section */
.final-cta {
  padding: 134.4px 20px;
  text-align: center;
}

.final-cta p {
  font-size: 72px;
  font-weight: 400;
  color: var(--button-color);
  margin-bottom: 22.4px;
}

.final-cta button {
  border: none;
  background-color: var(--button-color);
  color: var(--bg-color);
  padding: 12.4px 21.6px;
  border-radius: 20px;
  font-size: 14px;
}
.final-cta button:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
}

/* footer */
footer {
  height: 468px;
  padding: 67.4px 20px 30px;
  background-color: var(--footer-bg-color);
}

.links-and-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links-and-info {
  line-height: 28px;
  margin: 0px 90.4px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.links-and-info-box h3 {
  color: #edecec9a;
  font-size: 14px;
  font-weight: 400;
}

.links-and-info-box a {
  text-decoration: none;
  color: var(--button-color);
  font-size: 14px;
  font-weight: 400;
}

.links-and-info-box ul {
  list-style-type: none;
  cursor: pointer;
}

.copyright {
  margin: 100px 90.4px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-info,
.theme-btn
{
  display: flex;
  gap: 15px;
}

.copyright-info {
  font-size: 14px;
  font-weight: 400;
  color: #edecec9a;
}

.copyright-link:hover {
  color: var(--button-color);
}

.theme {
  padding: 2px;
  gap: 2px;
  display: flex;
  align-items: center;
  background-color: #322e26;
  border-radius: 15px;
  cursor: pointer;
}

.language {
  padding: 5.3px 10.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #322e26;
  border-radius: 15px;
}

.language:hover {
  background-color: #3d3a31d4;
  cursor: pointer;
}

.language span {
  color: var(--button-color);
}

#system {
  border-radius: 15px;
  background-color: #4c483d;
  padding: 5px 10px;
  color: var(--button-color);
}

#light, #dark {
  padding: 5.4px 10.2px;
  color: #edecec9a;
}

#light:hover, #dark:hover {
  color: var(--button-color);
}
